html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.GradeReportDownloadBtn {
    width: 270px;
    margin-bottom: 20px;
    background-color: #c7cff82f;
    color: #1746A2;
    border: 2px solid #1746A2;
}
.GradeReportDownloadBtn:hover {
        width: 270px;
        margin-bottom: 20px;
        background-color: #1746A2;
        color: white;
        /*border: 2px solid #1746A2;*/
    }
.blueTheme

.Dash-Card {
    height: 200px;
}

element.style {
}

.content-wrapper-Blue {
    background-color: #c7cff82f !important;
}

.proceedBtn {
    background-color: #1746A2 !important;
    text-decoration: none !important;
    color: white !important;
    height: 40px !important;
    width: 40px !important;
}

.ReporteeAnchorTag {
    background-color: none !important;
    text-decoration: none !important;
}

.LightBlueTheme {
    background-color: #EEF1FF;
    border-radius: 0.2rem;
}

.DarkBlueP {
    color: #1746A2;
}

.DarkBlueGradeBorder {
    border: 2px solid #1746A2;
}
.ApprovedBadge {
    background-color: #ADE792 !important;
}

.blueThemeA {
    background-color: #1746A2 !important;
    color: white !important;
    text-decoration: none !important;
}

.DarkBlueReveiwingP {
    color: #1746A2;
    font-size: 17px
}

.DarkBlueReveiwingP2 {
    color: #1746A2;
    font-size: 15px
}

.blueTheme {
    background-color: #1746A2;
    color: white;
}

.reporteeTagPara {
    color: black !important;
}

.reporteeTagSmall {
    color: darkgrey !important;
}

.blueTheme:hover {
    background-color: white;
    color: #1746A2;
    border: 2px solid #1746A2;
}

.proceedBtn > span {
    font-size: 25px !important;
    color: white !important;
}
/*.proceedBtn:hover {
        text-decoration: none !important;
    } */
.appraisal-dash-card {
    position: relative;
}

.dash-card {
    margin-bottom: 2rem;
}

.roles {
    display: inline;
}

.Anchor-body {
    text-decoration: none;
    height: 200px;
    width: 100%;
}

.icon-card {
    font-size: 3rem;
    font-weight: 300;
}

.logoImgLogin > img {
    height: 100px;
    width: 280px !important;
}

.LoginBtn {
    background-color: #E0144C;
    color: white;
}

.AddAppraisalBtn {
    background-color: #1746A2;
    color: white;
}

.ResetButton {
    background-color: #E0144C;
    color: white;
}
    .ResetButton:hover {
        background-color: white;
        color: #E0144C;
        border: 2px solid #E0144C;
    }

    .LoginBtn:hover {
        background-color: white;
        color: #1746A2;
        border: 2px solid #1746A2;
    }

.ApprovalBtn {
    border: 2px solid #E0144C;
    background-color: white;
    color: #E0144C;
}

.card-bcakground {
    background-color: #fcd6cbb2;
}

.featureBackground {
    background-color: white;
    padding-bottom: 2.5rem;
    padding-top: 2rem;
    border-radius: 0.2rem;
}

.ApprovalBtn:hover {
    background-color: #E0144C;
    color: white;
}

.HEADdata {
    font-size: 21px !important;
    font-weight: 700 !important;
}
/*.active {
    color: #E0144C !important;*/
/*color: #da8cff !important;*/
/*    background-color: #E0144C !important;
    background-color: #da8cff !important;*/
/*}*/
.active > a > span {
    color: #E0144C !important;
}

.active > a > i {
    color: #E0144C !important;
}

fieldset.scheduler-border {
    border: solid 3px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

.HEADMetrics {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: gray;
}

.HEADMetricsReportee {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: gray;
}

.labelfont {
    font-size: 15px;
}

.FormHeader {
    color: #1746A2 !important;
    font-size: 28px !important;
}

.MetricBackground {
    background-color: #F8C4B4;
}

fieldset {
    border: 2px solid blue !important;
}
/*fieldset.scheduler-border {
    border: solid 3px #E0144C !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}*/
legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

legend {
    font-size: 20px;
}

/*.active {
    color: #E0144C !important;
    background-color: #E0144C !important;
}*/
.active > a > span {
    color: #E0144C !important;
}

.active > a > i {
    color: #E0144C !important;
}

.navbarLogo > img {
    height: 48px !important;
    width: auto !important;
}

.containerBackGroundColor {
    background-color: #2146C7 !important;
}

.LoginBtn:hover {
    background-color: white;
    color: #E0144C;
    border: 2px solid #E0144C;
}

.LogoMiniUi > img {
    height: 100px;
    width: 280px !important;
}

.LoginHeader {
    color: rgb(29, 29, 129);
}

.role-div {
    background-color: white;
    border-radius: 0.5rem;
}

.user-roles {
    margin-right: 18px;
}

.no-margin {
    margin: 0% !important;
    padding: 0% !important;
}

.required {
    color: red;
    font-size: 14px;
}

.spanValidationFontSize {
    /*color: red !important;*/
    font-size: 12px !important;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #1746A2
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.header-icon {
    background-color: #1746A2;
    color: white;
}

.ApplyButton {
    background-color: #1746A2;
    border: none;
    color: white;
    padding: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 18px;
    width: 10%;
    cursor: pointer;
    width: 15%;
}