html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.GradeReportDownloadBtn {
    width: 270px;
    margin-bottom: 20px;
    background-color: #c7cff82f;
    color: #1746A2;
    border: 2px solid #1746A2;
}

    .GradeReportDownloadBtn:hover {
        width: 270px;
        margin-bottom: 20px;
        background-color: #1746A2;
        color: white;
        /*border: 2px solid #1746A2;*/
    }

.blueTheme

.Dash-Card {
    height: 250px;
}

element.style {
}

.content-wrapper-Blue {
    background-color: #c7cff82f !important;
}

.content-wrapper-red {
    background-color: #f2edf3 !important;
}

.proceedBtn {
    background-color: #1746A2 !important;
    text-decoration: none !important;
    color: white !important;
    height: 40px !important;
    width: 40px !important;
}

.ReporteeAnchorTag {
    background-color: none !important;
    text-decoration: none !important;
}

.LightBlueTheme {
    background-color: #EEF1FF;
    border-radius: 0.2rem;
}

.DarkBlueP {
    color: #1746A2;
}

.DarkBlueGradeBorder {
    border: 2px solid #1746A2;
}

.ApprovedBadge {
    background-color: #ADE792 !important;
}

.blueThemeA {
    background-color: #1746A2 !important;
    color: white !important;
    text-decoration: none !important;
}

.DarkBlueReveiwingP {
    color: #1746A2;
    font-size: 17px
}

.DarkBlueReveiwingP2 {
    color: #1746A2;
    font-size: 15px
}

.blueTheme {
    background-color: #1746A2;
    color: white;
}

.reporteeTagPara {
    color: black !important;
}

.reporteeTagSmall {
    color: darkgrey !important;
}

.blueTheme:hover {
    background-color: white;
    color: #1746A2;
    border: 2px solid #1746A2;
}

.proceedBtn > span {
    font-size: 25px !important;
    color: white !important;
}
/*.proceedBtn:hover {
        text-decoration: none !important;
    } */
.appraisal-dash-card {
    position: relative;
}

.dash-card {
    margin-bottom: 2rem;
}

.roles {
    display: inline;
}

.Anchor-body {
    text-decoration: none;
    height: 200px;
    width: 100%;
}

.icon-card {
    font-size: 3rem;
    font-weight: 300;
}

.logoImgLogin > img {
    height: 100px;
    width: 280px !important;
}

.LoginBtn {
    background-color: #E0144C;
    color: white;
}

.AddAppraisalBtn {
    background-color: #1746A2;
    color: white;
}

.ResetButton {
    background-color: #E0144C;
    color: white;
}

    .ResetButton:hover {
        background-color: white;
        color: #E0144C;
        border: 2px solid #E0144C;
    }

.LoginBtn:hover {
    background-color: white;
    color: #1746A2;
    border: 2px solid #1746A2;
}

.ApprovalBtn {
    border: 2px solid #E0144C;
    background-color: white;
    color: #E0144C;
}

.card-bcakground {
    background-color: #fcd6cbb2;
}

.featureBackground {
    background-color: white;
    padding-bottom: 2.5rem;
    padding-top: 2rem;
    border-radius: 0.2rem;
}

.ApprovalBtn:hover {
    background-color: #E0144C;
    color: white;
}

.HEADdata {
    font-size: 21px !important;
    font-weight: 700 !important;
}
/*.active {
    color: #E0144C !important;*/
/*color: #da8cff !important;*/
/*    background-color: #E0144C !important;
    background-color: #da8cff !important;*/
/*}*/
.active > a > span {
    color: #E0144C !important;
}

.active > a > i {
    color: #E0144C !important;
}

fieldset.scheduler-border {
    border: solid 3px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

.HEADMetrics {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: black;
}

.HEADMetricsReportee {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: gray;
}

.labelfont {
    font-size: 15px;
}

.FormHeader {
    color: #1746A2 !important;
    font-size: 28px !important;
}

.MetricBackground {
    background-color: #F8C4B4;
}

fieldset {
    border: 2px solid blue !important;
}
/*fieldset.scheduler-border {
    border: solid 3px #E0144C !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}*/
legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

legend {
    font-size: 20px;
}

/*.active {
    color: #E0144C !important;
    background-color: #E0144C !important;
}*/
.active > a > span {
    color: #E0144C !important;
}

.active > a > i {
    color: #E0144C !important;
}

.navbarLogo > img {
    height: 48px !important;
    width: auto !important;
}

.containerBackGroundColor {
    background-color: #2146C7 !important;
}

.LoginBtn:hover {
    background-color: white;
    color: #E0144C;
    border: 2px solid #E0144C;
}

.LogoMiniUi > img {
    height: 100px;
    width: 280px !important;
}

.LoginHeader {
    color: rgb(29, 29, 129);
}

.role-div {
    background-color: white;
    border-radius: 0.5rem;
}

.user-roles {
    margin-right: 18px;
}

.no-margin {
    margin: 0% !important;
    padding: 0% !important;
}
.dropdownRequired {
    border: 1px solid #dc3545 !important;
}
.required {
    color: red;
    font-size: 14px;
}

.spanValidationFontSize {
    /*color: red !important;*/
    font-size: 12px !important;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
    /* background: #DDD;*/
}

::-webkit-scrollbar-thumb {
    /*background: #1746A2*/
    background: #DDD;
}

    ::-webkit-scrollbar-thumb:hover {
        /*background: #555;*/
        background: #DDD;
    }

.header-icon {
    background-color: #1746A2;
    color: white;
}

.ApplyButton {
    background-color: #1746A2;
    border: none;
    color: white;
    padding: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 18px;
    width: 10%;
    cursor: pointer;
    width: 15%;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

thead {
    background-color: #1746A2;
}

table.dataTable {
    box-shadow: #bbbbbb 0px 0px 5px 0px;
}

thead > tr,
thead > tr > th {
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    text-align: start;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 0px solid #111 !important;
}

.dataTables_filter {
    text-align: left !important;
}

#myTable_length {
    width: 250px;
}

    #myTable_length label {
        width: 100%;
    }

#myTable_length label select {
    width: 40%;
}

.dataTables_length {
    margin-left: 3%;
    margin-bottom: 2%;
}

#myTable_length {
    margin-left: 3%;
    margin-bottom: 2%;
}

#myTable_filter {
    margin-bottom: 2%;
}

    #myTable_filter label input {
        width: 75%;
        margin-right: 3%;
    }

#table_length label select {
    width: 100px;
}

#table_length {
    margin-left: 3%;
    margin-bottom: 2%;
}

#table_filter {
    margin-bottom: 2%;
}

    #table_filter label input {
        width: 75%;
        margin-right: 3%;
    }

#table_length label select {
    width: 100px;
}

#table_length {
    margin-left: 3%;
    margin-bottom: 2%;
}

#table_length {
    width: 250px;
}

    #table_length label {
        width: 100%;
    }

        #table_length label select {
            width: 40%;
        }

select {
    color: black !important;
}

label.error {
    display: none !important;
}
.dataTables_info {
    margin-left: 3%;
}

select[name="myTable_length"] {
   width:100px;
}

.signout:hover{
    background : "red" !important;
    color : "green" !important;
}