html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 60px;
}
.Dash-Card {
    height: 200px;
}

.roles {
    display: inline;
}

.Anchor-body {
    text-decoration: none;
    height: 200px;
    width: 100%;
}

.icon-card {
    font-size: 3rem;
    font-weight: 300;
}
.logoImgLogin > img {
    height: 100px;
    width: 280px !important;
}
.LoginBtn {
    background-color:#E0144C;
    color:white;
}
.navbarLogo > img {
    height: 48px !important;
    width: auto !important;
}
.containerBackGroundColor {
    background-color: #2146C7 !important;
}
.LoginBtn:hover {
    background-color: white;
    color: #E0144C;
    border: 2px solid #E0144C;
}
.LogoMiniUi > img {
    height: 100px;
    width: 280px !important;
}
.LoginHeader {
    color: rgb(29, 29, 129);
}
.role-div {
    background-color: white;
    border-radius: 0.5rem;
}

.user-roles {
    margin-right: 18px;
}

.no-margin {
    margin: 0% !important;
    padding: 0% !important;
}

.required {
    color : red;
    font-size : 14px;
}