@model AppraisalTool.App.Models.AppraisalToolAuth.Login




@{
    ViewData["Title"] = "Login";
}



@if (TempData["Error"] != null)
{
    <div class="container">
        <div class="alert alert-danger mt-5" role="alert">
           <strong>Error !</strong> @TempData["Error"]
        </div>
    </div>
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo">
                            <img src="~/lib/assets/images/logo.svg">
                        </div>
                        <h2 style="font-weight:500 ;padding-left:6rem" class=" pt-3" asp-action="Login">LogIn</h2>
                        <form class="pt-3" asp-action="Login">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="Password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <img id="img-captcha" src="~/get-captcha-image" />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
                                </div>
                                <span asp-validation-for="CaptchaCode" class="text-danger">
                                    @if (TempData["msg"] != null)
                                    {
                                        @TempData["msg"]

                                    }
                                </span>
                            </div>
                              <div class="my-1 mb-2 d-flex justify-content-between align-items-center">
                   @* <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                    </div>*@
                   <!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>*@

<!-- Modal -->

                    <a   href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="auth-link text-black">Forgot password?</a>
                  </div>
                            <div class="form-group">
                                <div style="align-items:center ;">
                                    <input type="submit" value="Login" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email1">Email address</label>
                        <input type="email" id="email1" class="form-control" />
                   
                    </div>

                    <!-- password input -->
                   

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     @*   <button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->

<!-- Modal -->


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <!-- plugins:js -->
    <script src="./lib/assets/vendors/js/vendor.bundle.base.js"></script>

    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="./lib/assets/js/off-canvas.js"></script>


    <script src="./lib/assets/js/hoverable-collapse.js"></script>

    <script src="./lib/assets/js/misc.js"></script>
    <!-- endinject -->

    <script>
        $("#img-captcha").click(function () {
            resetCaptchaImage();
        });

        function resetCaptchaImage() {
            d = new Date();
            $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
        }
    </script>