
@{
    //ViewData["Title"] = "AppraisalTool";
}
<style>


.container
{
 border:1px solid black;
 margin:50px;
}
label {
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 25px;
 color: #333;
}
</style>

    <div class="row d-flex justify-content-center">
               <div class="col-6 grid-margin stretch-card ">
                <div class="card">
                  <div class="card-body container">
                    <h4 class="card-title">Add User</h4>
                    @*<p class="card-description"> Basic form elements </p>*@
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">First Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="example">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="example">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email Id</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="example@gmail.com">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                      </div>

                       <div class="form-group">
                        <label for="exampleInputPassword4">Joining Date</label>
                        <input type="date" class="form-control" id="date">
                      </div>
                       <div class="form-group">
                        <label for="exampleInputPassword4">Last Appraisal Date</label>
                        <input type="date" class="form-control" id="date">
                      </div>

                       <div class="form-group">
                      <label>Branch</</label>
                      <select class="form-control form-control-lg">
                      <option>Mumbai</option>
                     </select>
                     </div>

                      <div class="form-group">
                      <label>Role</</label>
                      <select class="form-control form-control-lg">
                      <option>Reporting Authority</option>
                      <option>Repviewing Authority</option>
                     </select>
                     </div>
                     
                     <div class="form-group">
                     <label>Primary Role</</label>
                     <select class="form-control form-control-lg">
                      <option>Cashier</option>
                      <option>Credit Officer</option>
                      <option>Manager</option>
                      
                     </select>
                     </div>
                    
                     <div class="form-group">
                      <label >Secondary Role</</label>
                      <select class="form-control form-control-lg">
                      <option>Cashier</option>
                      <option>Credit Officer</option>
                      <option>Manager</option>
                      
                     </select>
                     </div>
                     
                      
                      <button type="submit" value="Add" class="btn btn-gradient-primary me-2">Add</button>
                      <button type="reset" value="Reset"  class="btn btn-light">Reset</button>
                    </form>
                  </div>
                </div>
              </div>
              </div>
     <script src="./lib/assets/vendors/js/vendor.bundle.base.js"></script>
      
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="./lib/assets/js/off-canvas.js"></script>
 
   
    <script src="./lib/assets/js/hoverable-collapse.js"></script>
   
     <script src="./lib/assets/js/misc.js"></script>
    <!-- endinject -->